<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>工作管理</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include('header.ejs'); %>

    <%- include('create_edit.ejs'); %>
    <hr>
    <h3><a href="/task">所有工作</a></h3>
    <% if (locals.tasks.length > 0 ) { %>  
        <table border="1">
            <thead>
                <tr>
                    <th>工作類型</th>
                    <th>工作日期</th>
                    <th>申請表編號</th>
                    <th>家團代表</th>
                    <th>工作備註</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tdody><% locals.tasks.forEach( t => { %>
                    <tr>
                        <td><%= t.tatype %></td>
                        <td><%= t.tadate %></td>
                        <td><%= t.taappnum %></td>
                        <td><%= t.tafamrep %></td>
                        <td><%= t.taremark %></td>
                        <td>                            
                            <form action="/task?id=<%= t._id %>" method="GET">
                                <input type="hidden" name="id" value="<%= t._id %>">
                                <button type="submit">Edit</button>
                            </form>
                        </td>
                        <td>
                            <form action="/task/delete/<%= t._id %>?_method=DELETE" method="POST">
                                <button type="submit" onclick="return confirm('Are you sure?')">Delete
                                </button>
                            </form>
                        </td>
                    </tr>
                <% }) %>
            </tdody>
        </table>
    <% } else { %> 
        <p>沒有工作</p>
    <% } %>

    <%- include('footer.ejs'); %>
</body>
</html>