<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All tasks</title>
</head>
<body>
    <h3>Create New Task</h3>
    <form action="/task/new" method="post">
        <input type="hidden" name="taname" value="<%= locals.taname %>">
        <table>
            <tr>
                <td><label for="tatype">type: </label></td>
                <td><input type="text" name="tatype" value="<%= locals.tatype %>" required></td>
            </tr>
            <tr>
                <td><label for="tadate">date: </label></td>
                <td><input type="text" name="tadate" value="<%= locals.tadate %>" required></td>
            </tr>
            <tr>
                <td><label for="taappnum">appnum: </label></td>
                <td><input type="text" name="taappnum"></td>
            </tr>
            <tr>
                <td><label for="tafamrep">famrep: </label></td>
                <td><input type="text" name="tafamrep"></td>
            </tr>
            <tr>
                <td><label for="taremark">remark: </label></td>
                <td><input type="text" name="taremark"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <button>Create</button>
                </td>
            </tr>
        </table>        
    </form>
    <hr>

    <h3>All Tasks</h3>
    <% if (locals.tasks.length > 0 ) { %>  
        <table border="1">
            <thead>
                <tr>
                    <th>type</th>
                    <th>date</th>
                    <th>appnumr</th>
                    <th>famrepr</th>
                    <th>remark</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tdody><% locals.tasks.forEach( t => { %>
                    <tr>
                        <td><%= t.tatype %></td>
                        <td><%= t.tadate %></td>
                        <td><%= t.taappnum %></td>
                        <td><%= t.tafamrep %></td>
                        <td><%= t.taremark %></td>
                        <td><button>Edit</button></td>
                        <td>
                            <form method="POST" action="/task/delete/<%= t._id %>?_method=DELETE">
                                <button type="submit" onclick="return confirm('Are you sure?')">Delete</button>
                            </form>
                        </td>
                    </tr>
                <% }) %>
            </tdody>
        </table>
    <% } else { %> 
        <p>Task not found</p>
    <% } %>     
</body>
</html>